@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.paginahogar{
    background-image: url("LAB.jpg");
    background-repeat: repeat-y;
    background-position: right top;
    background-attachment: scroll;
}
.heading{
    width:100%;
    float:right;
    background: linear-gradient(to right, rgb(43, 255, 0), rgb(192, 255, 234));
   height: 50px;
   border: 2px ;
  border-radius: 8px;
}
.heading2{
    width:100%;
    float:right;
    background: linear-gradient(to right, rgb(43, 255, 0), rgb(192, 255, 234));
   height: 50px;
   border: 2px ;
  border-radius: 8px;
  font-size:40px;
  
 

}
.left{
    text-align: center;
    color: #80877A;
}

th{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:whitesmoke;
    padding: 20px;
    text-align: right;

}


h2 {
    text-align:left;
    color:whitesmoke;
}

.contenido{
   
    width:50%;
    height: 250px;
    text-align:right;
    background-color: #ffff;
    color:green;
    border: 2px ;
  border-radius: 8px;
}

.star{
    text-align:left;
}
.contenido th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:45px;

}
.contenido td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  .gota{
    float:left;
    width:42px;height:42px;
    
}

.cannaplant{
    width: 300px;
    height: 300px; 
    border-radius:50%;
    float: right;
    margin-right: 25%;
   
}
.sobremi{
    background-color: #ffff;
    width:50%;
    height: 250px;
    text-align:right;
    background-color: #ffff;
    color:green;
    float:right;
    border: 2px ;
  border-radius: 8px;
}

.sobremi th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:45px;

}
.yo{
    width: 300px;
    height: 300px;
    border-radius:50%;
    float: left;
    margin-left: 25%;
}
.contacto{
    background-color: #ffff;
    width:50%;
    height: 250px;
    text-align:right;
    background-color: #ffff;
    color:green;
    float:left;
    border: 2px ;
    border-radius: 8px;
 
}
.contacto th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:45px;

}
.gmail{
    width: 280px;
    height: 280px;
    border-radius:50%;
    float: right;
    margin-left: 25%;
   
}
form{
    background: linear-gradient(to bottom, rgb(74, 77, 74), rgb(41, 43, 42));
    color:whitesmoke;
}
form input{
    border: 4px ;
    border-radius: 8px;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.foot{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    display: right;
    justify-content: space-around;
    background: linear-gradient(to bottom, rgb(74, 77, 74), rgb(41, 43, 42));
    color:whitesmoke;
}

.foot th{
    text-align:center;

}

.inter{
    width:200px;
    height:200px;
    float:center;
}
.redes{
    width:60px;
    height:60px;
    float:right;
}

.paginacontacto{
 font-family: 'Roboto', sans-serif;
 background-color: #f4f0f0;

min-height:100vh ;

}
.form1{
    background-color: #ffff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0/30%);

}
.form_title{
    font-size: 2rem;
    margin-bottom: .5em;
}
.form_paragraph{ 
    font-weight: 300;

}
.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form_group{
    position: relative;
    --color: #f8f7f77e;
}
.form_input{
    width: 100%;
    background: none;
    color: #fffbfb;
    font-size:1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom:1px solid var(--color);
}
.form_label{
    color:var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform:translateY(10px);
    transition: transform .5s, color .3s;
}
.form_input:focus + .form_label ,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color:#3cb04c;
}

.form_submit{
    background: rgb(0, 146, 19); 
    color:#ffff;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border:none;
    border-radius: .5em;
}
.form_line{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3cb04c;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s ;
}
.form_input:focus + .form_line,
.form_input:not(:placeholder-shown) + .form_line
{
    transform: scale(1);
}
